## FE - 680 Assignment 4

### Instructor: Dragos Bozdog (PhD)

### Completed By: Riley Heiman

In [108]:
import os 
import matplotlib 
import matplotlib.pyplot as plt  
import seaborn as sns 

import pandas as pd  
import numpy as np   
from scipy.stats import norm

In [109]:
print(os.getcwd())

d:\Documents\Stevens\FE-680\HW4

---

## Problem 1

**Verify the CDS spread for the example in Tables (1 to 4) is 100 basis points.** (END OF A SENTANCE)


The probability of default each year (conditional on no earlier default) must be $ 1.61 \%$. 


Questions
- How does the probability of default change when the recovery rate, R, is $20 \% $ instead of $ 40 \% $? 

Verify that your answer is consistent with the implied probability of default being approximately proportional to $\frac{1}{1-R}$ Where R is the recovery rate.

$\:$


**Riley's Thoughts:** This is problem 25.14 in Hull


$\:$

Recall:
$$ V(t) = e^{-\lambda(t) t} $$

$ \:$


$$ Q(t) = 1 - e^{-\lambda(t) t}  \qquad (24.1) $$

Where: 
- $Q(t)$ = probability of default @ time = t
- $\lambda(t) = $ average hazard rate

- $V(t)$ = survival probability

In [110]:
def Q( LAMBDA, t):
    # default probability
    return(  1 - np.exp( -LAMBDA * t ) )

def V( LAMBDA, t):
    # survival probability
    return( np.exp( -LAMBDA * t ))       

def DISCOUNT_FACTOR(r, t):
    return( np.exp( -r*t ) )

There are three tables required.


- **Table 1** = "Expected Payments"

- **Table 2** = "Expected Payoff"

- **Table 3** = "Accrual Payments"

In [67]:
# np.exp(-.05*1) 
# np.exp(-.02*2)

0.9607894391523232

In [100]:
#  Risk-free rate = 5 %

r = .05
#LAMBDA = .02
LAMBDA = .0163   #  This is the actual value 

R = .2            #  Recovery Rate
LAMBDA = .02
times = [1 , 2 , 3 , 4 , 5]


PV_expected_payments = 0.0

for t_i in times:
    #print(V( LAMBDA, t_i))
    PV_expected_payments = PV_expected_payments + ( V( LAMBDA, t_i) * DISCOUNT_FACTOR(r, t_i) )

print( 'PV of expected payments = ' + str( np.round(  PV_expected_payments , decimals= 5) ) )

PV of expected payments = 4.07281

In [107]:

PV_expected_payoff = 0.0

times = [.5 , 1.5, 2.5, 3.5, 4.5]
#times = [1 , 2 , 3 , 4 , 5]

for t_i in times:
    # print(PV_expected_payoff)
    prob_of_default = V(LAMBDA, t_i-0.5)  - V(LAMBDA, t_i)
    #prob_of_default = Q(LAMBDA, t_i)
    print(prob_of_default)
    PV_expected_payoff = PV_expected_payoff + ( prob_of_default * DISCOUNT_FACTOR(r, t_i) * (1-R))


print( 'PV of expected payoff = ' + str( np.round(  PV_expected_payoff , decimals= 5) ) )

0.009950166250831893
0.009753139758247098
0.009560014651609161
0.009370713678300446
0.00918516111540757
PV of expected payoff = 0.03391

---

## Problem 2

Suppose that the risk-free zero curve is flat at $ 4 \% $ per annum with continuous compounding and that defaults can occur at times .25 years, .75 years, 1.25 years, and 1.75 years in a two-year plain vanilla credit default swap with semiannual payments. Suppose that the recovery rate is $ 20 \%$ and the unconditional probabilities of default (as seen at time zero) are $1\%$ at times .25 years, and .75 years, and $ 1.5\% $ at times 1.25 years and 1.75 years. What is the credit default swap spread? What would the credit default spread be if the instrument were a binary credit default swap?

--- 

## Problem 3

Consider the following CDS for Goldman Sachs:

| Tenor     |            CDS                |  Spread (bps)     |
| :---:     |           :----:              |     :---:         |
| 6 Month   | GS CDS USD SR 6M D14 Curncy   |     30.2          |
| 1 Year    | GS CDS USD SR 1Y D14 Curncy   |     38.9          |
| 2 Year    | GS CDS USD SR 2Y D14 Curncy   |     47.1          |
| 3 Year    | GS CDS USD SR 3Y D14 Curncy   |     58.8          |
| 4 Year    | GS CDS USD SR 4Y D14 Curncy   |     72.8          |
| 5 Year    | GS CDS USD SR 5Y D14 Curncy   |     83.9          |
| 7 Year    | GS CDS USD SR 7Y D14 Curncy   |     109.8         |
| 10 Year    | GS CDS USD SR 10Y D14 Curncy |     127.7         |


Please estimate the hazard rate curve from the CDS spreads of GS.

For the valuation model assume the JPMorgan model (defaults can occur midway during each payment period, but the accrual is made at the end of the periods).

In [14]:

CDS = pd.DataFrame({
'TENOR':[.5 , 1, 2, 3, 4, 5, 7, 10],
'INDEX':['GS CDS USD SR 6M D14 Curncy',
       'GS CDS USD SR 1Y D14 Curncy',
       'GS CDS USD SR 2Y D14 Curncy',
       'GS CDS USD SR 3Y D14 Curncy',
       'GS CDS USD SR 4Y D14 Curncy',
       'GS CDS USD SR 5Y D14 Curncy',
       'GS CDS USD SR 7Y D14 Curncy',
       'GS CDS USD SR 10Y D14 Curncy'],
'SPREAD':[30.2 , 38.9 , 47.1 , 58.8 , 72.8 , 83.9 , 109.8 , 127.7]})


RATES= pd.DataFrame({
'TENOR':[(1/12) , (2/12),  (3/12) , (6/12) , 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 15, 20, 25, 30],
'YIELD':[.995 , 1.0372 , 1.1696 , 1.4304 , 1.7765 , 1.5635 , 1.7165, 1.839, 1.9365, 2.024 , 2.097 , 2.161 , 2.2205 , 2.267 , 2.352 , 2.431 , 2.504 , 2.529 , 2.533 ] })

In [16]:
RATES.head(45)

        TENOR   YIELD
0    0.083333  0.9950
1    0.166667  1.0372
2    0.250000  1.1696
3    0.500000  1.4304
4    1.000000  1.7765
5    2.000000  1.5635
6    3.000000  1.7165
7    4.000000  1.8390
8    5.000000  1.9365
9    6.000000  2.0240
10   7.000000  2.0970
11   8.000000  2.1610
12   9.000000  2.2205
13  10.000000  2.2670
14  12.000000  2.3520
15  15.000000  2.4310
16  20.000000  2.5040
17  25.000000  2.5290
18  30.000000  2.5330